body {
    /* Positioning */
    margin-bottom: 150px;
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* Visual */
    background-image: url("../imgs/ignasi_pattern_s.png");
}

html {
    /* Positioning */
    position: relative;
    /* Box-model */
    min-height: 100%;
}

p {
    font-size: 15px;
    line-height: 1.75;
}

h2 {
    color: #22A39F;
}

#navbar {
    margin-bottom: 40px;
}

.project {
    float: left;
    text-align: center;
    margin-right: 50px;
}

/*Footer*/
#footer {
    margin-top: 100px;
}

.contact-photo {
    height: 50px;
}